<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
    <a href="index.html" class="navbar-brand">
        <h1 class="m-0 text-primary"><i class="fa fa-book-reader me-3"></i>Kider</h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
            <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a routerLink="/about-us" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About Us</a>
            <a routerLink="/classes" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Classes</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                 <!--   <a routerLink="/facility" class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">School Facilities</a>
                    <a routerLink="/team" class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Popular Teachers</a>
                    <a routerLink="/become-a-teacher" class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Become A Teacher</a>
                    <a routerLink="/appointment" class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Make Appointment</a>
                    <a routerLink="/testimonial" class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Testimonial</a>
                    <a routerLink="/404" class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">404 Error</a> -->
                </div>
            </div>
            <a routerLink="/contact" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact Us</a>
        </div>
        <a href="" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">Join Us<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>